{% load static %}
<footer>
    <div style="margin-top: -100px;">
        <hr style=" background-color: rgb(52,58,64); margin-bottom: 15px;">
        <div class="container" style="padding-right:650px;">
            <div class="row">
                <div class="col-md-8" style="margin-top: 8px">
                    <a href="tel:999-666-333" style="color: rgb(52,58,64);">
                        <em class="fa fa-phone"></em>&nbsp;999-666-333
                    </a>
                </div>
                <div class="col-md-4" style="margin-left:450px; margin-top:-25px;">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://github.com/dixer23" target="_blank" rel="noopener noreferrer">
                                <em class="fa fa-github-alt"></em>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://t.me/tlotlegomgp" target="_blank" rel="noopener noreferrer">
                                <em class="fa fa-telegram"></em>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8" style="margin-top: -40px; margin-left: 725px;">
                    <a href="mailto:sikorskimarcin1@gmail.com" style="color: rgb(52,58,64);">
                        <em class="fa fa-envelope"></em>&nbsp;sikorskimarcin1@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>