{% load static %}
<nav class="navbar navbar-expand-lg fixed-top bg-light" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="color: rgb(52,58,64)" href="#top">START</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="color: rgb(52,58,64)" href="#portfolio">PROJECTS</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="color: rgb(52,58,64)" href="#skills">SKILLS</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="color: rgb(52,58,64)" href="#sectionContact">CONTACT</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" style="color: rgb(52,58,64)" href="#git">GITHUB</a></li>
            </ul>
    </div>
    </div>

</nav>